<!-- 商品详情界面 -->
<ion-header-bar align-title="center" class="bar-stale">
    <div class="buttons" ng-click="retreat()">
      <button class="button icon ion-arrow-left-c"></button>
    </div>
    <h1 class="title titles">
      <a href="" ng-click="nextSlide(0)">商品</a>
      <a href="" ng-click="nextSlide(1)">详情</a>
      <!-- <a href="" ng-click="nextSlide(2)">评价</a> -->
    </h1>
    <div class="buttons">
    <button class="button icon ion-android-menu"></button>
    </div>
</ion-header-bar>
<ion-content scroll="true" overflow-scroll="false" class="has-tabs visi">
    <ion-slide-box does-continue="false" class="hid" show-pager="flase" on-slide-changed="slideHasChanged($index)" >
          <ion-slide class="first">
                <img class="particularsPic" ng-src="{{'images/'+bookParticulars.images[0].image_name}}"><br>
                <h2>{{bookParticulars.title}}</h2>
                <p>作者:{{bookParticulars.author}}</p>
                <p class="price particularsPrice">价格:{{bookParticulars.price | currency : "&yen"}}</p>
                <div class="row">
                  <div class="col">包邮</div>
                  <div class="col">销量:{{bookSale}}笔</div>
                  <div class="col">新华书社</div>
                </div>
          </ion-slide>
          <ion-slide>
                <img class="particularsPic" ng-src="{{'images/'+bookParticulars.images[0].image_name}}"><br>
                <p ng-bind-html="bookParticulars.desc"></p>
          </ion-slide>
          <!-- <ion-slide>
            <img src="images/lunbo2.jpg">
          </ion-slide> -->
    </ion-slide-box>
</ion-content>
<ion-footer-bar align-title="center" class="bar-stale buy">
<div class="button-bar">
    <button class="button icon ion-social-skype-outline button-clear button-dark"></button>
    <button class="button icon ion-star button-clear button-dark"></button>
    <button class="button icon ion-ios-cart button-clear button-dark car" ui-sref="home.shoppingCart"><span class="red" ng-if="redShow()">{{cartList.num}}</span></button>
  </div>
  <div class="buttons"">
    <button class="button button-energized" ng-click="addCart()">加入购物车</button>
    <button class="button button-assertive">立即购买</button>
  </div>
</ion-footer-bar>