<!-- 欢迎页面 -->
<ion-content scroll="true" overflow-scroll="false" class="has-tabs boots">
	<ion-slide-box auto-play="false" does-continue="true" slide-interval=2000 class="boot" show-pager="true">
	  <ion-slide class="one">
	    <h1>欢迎光临我的书城</h1>
	  </ion-slide>
	  <ion-slide class="two">
		<h1>准备好迎接知识了吗?</h1>
	  </ion-slide>
	  <ion-slide on-slide-changed="slideHasChanged(index)" class="three">>
		<button  class="button button-calm" ui-sref="home" ng-click="firstOpen()">点我进入</button>
	  </ion-slide>
	</ion-slide-box>
</ion-content>