<!-- 首页 -->
<ion-header-bar class="bar-stable">
	<div class="buttons">
		<button class="button button-clear icon ion-ios-search-strong" ui-sref="search"></button>
	</div>
	<h1 class="title">我的商城</h1>
	<div class="buttons">
		<button class="button button-clear" ng-click="openModal('login_modal')" ng-if="!cookieshow()" >登录</button>
		<button class="button button-clear" ng-click="openModal('signin_modal')" ng-if="!cookieshow()" >注册</button>
		<button class="button button-clear" ng-if="cookieshow()">{{name.cook}}</button>
		<button class="button button-clear button-assertive" ng-if="cookieshow()" ng-click="logout()">注销</button>
	</div>
</ion-header-bar>
	<div ui-view="list"></div>
<ion-tabs class="tabs-icon-top tabs-striped tabs-stable">
	<ion-tab title="主页" icon="ion-home" ui-sref="home"></ion-tab>
	<ion-tab title="购物车" icon="ion-ios-cart" badge="cartList.num" badge-style="badge-assertive" ui-sref="home.shoppingCart"></ion-tab>
	<ion-tab title="我" icon="ion-person" ui-sref="home.my"></ion-tab>
</ion-tabs>