<!-- 列表 -->
<ion-content scroll="true" overflow-scroll="false" class="has-tabs">
	<ion-slide-box auto-play="true" does-continue="true" slide-interval=2000>
	  <ion-slide ng-repeat="num in lunbo">
	  	<img ng-src="{{'images/lunbo'+num+'.jpg'}}">
	  </ion-slide>
	</ion-slide-box>
	<div class="row lis">
	  <div class="col">畅销排行榜</div>
	</div>
	<div class="row">
	  <div class="col" ng-repeat="(index,item) in hotList" ng-click="detailid(item.id)" ui-sref="home.particulars">
	  	<img ng-src="{{'images/'+item.images[0].image_name}}" class="small-book">
	  </div>
	</div>
	<div class="button-bar">
	  <a class="button" ng-click="classify(1)" ng-class="{grayColor:caId==1}">技术</a>
	  <a class="button" ng-click="classify(2)" ng-class="{grayColor:caId==2}">动漫</a>
	  <a class="button" ng-click="classify(3)" ng-class="{grayColor:caId==3}">文学</a>
	  <a class="button" ng-click="classify(0)" ng-class="{grayColor:caId==0}">全部</a>
	</div>
	<ion-list>
  		<ion-item ng-repeat="(index,item) in bookList" class="item-thumbnail-left" >
			    <img ng-src="{{'images/'+item.images[0].image_name}}">
			    <h2>{{item.title}}</h2>
			    <p>{{item.author}}</p>
		    	<p class="price col-33">{{item.price | currency : "&yen"}}</p>
			    <div class="row">
			    	<button class="button button-assertive button-small button-outline col-50" ng-click="detailid(item.id)" ui-sref="home.particulars">查看详情</button>
			    	<button class="button button-assertive button-small button-outline col-40 col-offset-10" ng-click="addCart(item)">加入购物车</button>
			    </div>
	  </ion-item>
	</ion-list>
  	<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="moreData">
  	</ion-infinite-scroll>
</ion-content>
