<!-- 个人中心 -->
<ion-content scroll="true" overflow-scroll="false" class="has-header has-tabs">
	<img src="./images/head.png" class="head" ng-if="!showHeader()">
	<img src="./images/loginHeader.png" class="head" ng-if="showHeader()">
	<ion-list class="my">
		<ion-item class="item-icon-left" ui-sref="home">
			<i class="icon ion-person"></i>
			个人中心
		</ion-item>
		<ion-item class="item-icon-left" ui-sref="home">
			<i class="icon ion-archive"></i>
			我的地址
		</ion-item>
		<ion-item class="item-icon-left" ui-sref="home.orderList">
			<i class="icon ion-clipboard"></i>
			我的订单
		</ion-item>
		<ion-item class="item-icon-left" ui-sref="home">
			<i class="icon ion-earth"></i>
			关于我们
		</ion-item>
	</ion-list>
</ion-content>