<!-- 订单页面 -->
<ion-header-bar align-title="center" class="bar-stable" ng-controller="mainController">
    <div class="buttons" ui-sref="home.my">
      <button class="button icon ion-arrow-left-c"></button>
    </div>
    <h1 class="title">全部订单</h1>
    <div class="buttons">
		<button class="button button-clear" ng-click="openModal('login_modal')" ng-if="!cookieshow()" >登录</button>
		<button class="button button-clear" ng-if="cookieshow()">{{name.cook}}</button>
		<button class="button button-clear button-assertive" ng-if="cookieshow()" ng-click="logout()">注销</button>
	</div>
</ion-header-bar>
<ion-content class="has-tabs">
	<!-- 在没有订单的情况下显示 -->
	<p class="text order" ng-if="none">你没有买过东西<br><a ui-sref="home">来挑几件好货吧!</a></p>
	<!-- 在没有登录并且选择了取消的情况下显示 -->
	<p class="text order" ng-if="beLogin">你还没有登录<br><a ng-click="openModal('login_modal')">登录!</a></p>
	<!-- 订单的相关信息 -->
	<ion-list>
  		<ion-item ng-repeat="(index,item) in orderList" class="item-thumbnail-left">
			    <img ng-src="{{'images/'+item[0].book_image}}">
			    <p>{{item[0].book_title}}</p>
			    <div class="row">
		    		<p class="price col-33">单价:{{item[0].book_price | currency : "&yen"}}</p>
			    	<p class="col-33">购买数量:{{item[0].book_num}}</p>
			    </div>
			    <p>购买时间:{{item[0].order_addtime}}</p>
			    <button class="col-50 button button-assertive button-full" ng-click="openModal(index)">评价</button>
	  </ion-item>
	</ion-list>
  	<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="moreData">
</ion-content>