<!-- 购物车页面 -->
<ion-header-bar align-title="center" class="bar-stable" ng-controller="mainController">
    <div class="buttons" ui-sref="home">
      <button class="button icon ion-arrow-left-c"></button>
    </div>
    <h1 class="title">购物车({{bookCart.num}})</h1>
    <div class="buttons">
		<button class="button button-clear" ng-click="openModal('login_modal')" ng-if="!cookieshow()" >登录</button>
		<button class="button button-clear" ng-click="openModal('signin_modal')" ng-if="!cookieshow()" >注册</button>
		<button class="button button-clear" ng-if="cookieshow()">{{name.cook}}</button>
		<button class="button button-clear button-assertive" ng-if="cookieshow()" ng-click="logout()">注销</button>
		<button class="button icon ion-gear-b" ng-click="showDele()"></button>
	</div>
</ion-header-bar>
<ion-content class="has-tabs has-header">
	<!-- 当购物车为空的时候，显示的内容 -->
	<div class="ion-ios-cart-outline icon big" ng-if="showCar()"></div>
	<p class="text" ng-if="showCar()">购物车空空如也<br>来挑几件好货吧!</p>
	<ion-list>
  		<!-- <ion-item ng-repeat="(index,item) in bookCart.books" class="item-thumbnail-left"> -->
  		<div ng-repeat="(index,item) in bookCart.books" style="position: relative;">
			<ion-checkbox ng-model="item.checked" ng-click="selected(index)">
			    <img ng-src="{{'images/'+item.book.images[0].image_name}}" style="width: 100px;">
  			</ion-checkbox>
  			<div style="position: absolute;top: 20px;left: 170px;z-index: 2;">
			    <p>{{item.book.author}}</p>
			    <div class="row" style="position: relative;">
			    	<p class="price">单价:{{item.book.price | currency : "&yen"}}</p>
		    		<button class="button button-assertive col-offset-10" ng-if="deleteShow" ng-click="deleteCart(index)" style="position: absolute;bottom:15px;right: 0px;">删除</button>
			    </div>
			    <div class="row">
			    	<button class="button ion ion-minus-round" ng-click="numMinus(index)"></button>
			    	<input type="text" name="" value="{{item.num}}" class="carInput">
			    	<button class="button ion ion-plus-round" ng-click="numPlus(index)"></button>
			    </div>
  			</div>
  		</div>
	  <!-- </ion-item> -->
	</ion-list>
</ion-content>
<ion-footer-bar  class="bar-stable">
		<ion-checkbox style="border: none;background-color: transparent;" ng-model="checkedAll" ng-click="seleAll()">全选</ion-checkbox>
	<!-- 当购物车有商品的时候显示 -->
		<h1 class="title">总价为:{{extendedPrices | currency : "&yen"}}</h1>
		<button class="button button-assertive" ng-click="submitOrder()">提交订单</button>
</ion-footer-bar>