/* 设置启动页的样式 */
/* 为了使启动页的内容铺满 */
.boots {
	bottom: 0;
}
.boots .scroll {
	width: 100%;
	height: 100%;
}
.boot {
	width: 100%;
	height: 100%;
	max-height: 100%!important;
}
/* 设置背景图片 */
.boot .one {
	background: url('../images/one.jpg');
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
/* 设置文字和按钮样式 */
.boot  h1,
.boot button {
	color: #fff;
	text-align: center;
	position: relative;
	top: 300px;

}
.boot button {
	margin-left: 50%;
	transform: translate(-50%)
}
.boot .two {
	background: url('../images/two.jpg');
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
.boot .three {
	background: url('../images/three.jpg');
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}
/* 设置滚动条样式 */
.boot .slider-pager {
	bottom: 70px;
}
.small-book {
	width: 60px;
	height: 60px;
}
/* 设置点击选中之后的样式 */
.grayColor {
	background-color: #e5e5e5;
}
/* 取消a的下划线 */
a {
	text-decoration: none;
}
.lis {
	border-bottom:1px solid #ccc;
}
/* 设置轮播图的高度 */
.slider {
	max-height: 30%;
}
/* 使轮播图中的图片完整显示 */
.slider img {
	width: 100%;
}
/* 更改轮播图中小圆点的大小 */
.slider span i {
	font-size: 97%;
}
/* 改变价格文字的颜色 */
p.price {
	color: red;
}
/* 增加输入框图片与文字的距离,并改变图标的大小 */
.item-input .icon {
	min-width: 30px;
	font-size: 150%;
}
/* 错误提示文本颜色 */
.text-danger {
	color: red;
}
/* 成功提示文本颜色 */
.text-success {
	color: green;
}
/* 详情页的图片大小 */
.particularsPic {
	width: 100%;
}
/* 详情页的文字显示 */
.ng-binding div span,
.ng-binding div p, {
	white-space: pre-wrap;
}
/* 推荐搜索之间的距离 */
.hotSearch {
	margin: 10px;
}
/* 隐藏商品详情中的
.hid .slider-pager {
	display: none;
} */
/* .first .slider-slide {
	height: ;
} */
/* 使商品详情全部显示 */
.visi {
	overflow: visible;
}
/* 设置详情页中的文字的距离 */
.titles a {
	margin-left: 10px;
}
/* 设置详情页中的下边按钮的间距 */
.buy .button {
	margin-left: 10px;
}
/* 设置详情页中的价格的文字大小 */
.particularsPrice {
	font-size: 20px;
}

/* 设置详情页中的商品数量 */
.button-bar>.car {
	position: relative;
	overflow: visible;
}
.red {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: red;
	opacity: 0.5;
	position: relative;
	right: 2px;
	top: -2px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
}
/* 购物车页面的图标大小 */
.big {
	font-size: 1000%;
	margin: 100px auto;
	margin-bottom: 0px;
	text-align: center;
}
.carInput {
	/* padding: 0 12px; */
	width: 52px;
	height: 47px!important;
	text-align: center;
	line-height: 47px;
}
/* 购物车文字 */
.text {
	font-size: 20px;
	text-align: center;
}
.bar-footer {
	height: 50px;
}
.item-checkbox .item-content {
	padding: 0;
}
.item-checkbox .item-content .item {
	float: left;
}
/* 个人中心头像 */
.head {
	position: relative;
	left: 50%;
	top: 50px;
	transform: translate(-78.5px)
}
/* 列表 */
.my {
	position: relative;
	top: 100px;
}
.my ion-item {
	text-align: center;
	font-size: 20px;
}
/* 购物中心字体样式 */
.order {
	font-size: 20px;
	font-weight: 600;
	position: relative;
	top: 260px;
	line-height: 30px;
}